html,
body {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('img/baba_s_frazoi.jpg') no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
} */
img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
body {
  padding: 30px 0;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  font-family: 'Caveat', cursive;
  background-color: #8047ca;
  background: url('img/baba_s_frazoi.jpg') no-repeat;
  background-size: contain;
  background-position: center;
}
.greet {
  background: url('img/we.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  background: url('img/snow.png');
  background-size: 100% 100%;
}
#petals {
  max-width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
}
.card {
  width: 90vw;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: card 2s linear forwards;
}

.title {
  margin-bottom: 20px;
  background-image: linear-gradient(110deg, #ff6945 0%, #8047ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff6945;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.text {
  margin-bottom: 20px;
  color: #333;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}
.author {
  background-image: linear-gradient(110deg, #ff6945 0%, #8047ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  color: #121212;
  font-size: 40px;
  text-align: right;
  padding-right: 40px;
  transition: opacity 3s linear 1s;
}

@keyframes card {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.sun {
  display: none;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -100px;
  left: 120px;
  animation: sun 5s linear forwards, spin 7s linear 3s normal infinite;
}
@keyframes sun {
  from {
    top: -100px;
  }
  60% {
    transform: rotate(0deg);
  }
  to {
    top: 50px;
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.face {
  display: none;
  width: 80px;
  height: 87px;
  position: absolute;
  top: 41%;
  left: 47%;
  opacity: 0;
  animation: face 3s ease-in-out 8s forwards;
}
@keyframes face {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cat {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 75%;
  right: -10%;
  opacity: 0;
  animation: heart 4s ease-in-out 5s forwards;
}

.dog {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 81%;
  right: -40%;
  animation: dog 2s ease 21s forwards;
}

@keyframes dog {
  from {
    right: -40%;
  }
  to {
    right: -10%;
  }
}

.me {
  display: none;
  position: absolute;
  top: 120%;
  left: 25%;
  animation: me 5s linear 12s forwards;
}
@keyframes me {
  from {
    top: 120%;
  }
  to {
    top: 76%;
  }
}

.phrase {
  display: none;
  width: 200px;
  position: absolute;
  top: 56%;
  left: 46%;
  background-color: transparent;
  animation: heart 2s linear 22s forwards;
  opacity: 0;
}

.heart {
  display: none;
  width: 60px;
  position: absolute;
  top: 64%;
  left: 65%;
  animation: heart 2s linear 18s forwards;
  opacity: 0;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  position: absolute;
  top: 30%;
  left: 30%;

  cursor: pointer;
}

.is-hidden {
  display: block;
}

.link {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
}

/* button */
.cta {
  position: relative;
  top: 52%;
  left: 27%;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  background-color: transparent;
  border: none;
}
.cta::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: #ffab9d;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}
.cta::after {
  content: '';
  position: absolute;
  top: 0;
  right: 19px;
  display: block;
  border-radius: 30px;
  background: #ffab9d;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 5;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  z-index: 5;
}

.cta:hover.cta::before {
  width: 100%;
  background-color: transparent;
}
.cta:hover.cta::after {
  width: 100%;
  background-color: transparent;
}

.cta:hover.cta svg {
  display: none;
}
.cta:hover.cta span {
  color: transparent;
}
